.place__texts {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 32px 0 0 0;

}

@media screen and (min-width: 1024px) {
    .place__texts {
        padding: 0;
        row-gap: 26px;
    }
}