.intro {
  margin: 0 auto;
  display: flex;
  max-width: 720px;
  flex-direction: column;
  padding: 64px 16px 0 16px;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .intro {
    max-width: 720px;
    padding: 88px 24px 0 24px;
  }
} 

@media screen and (min-width: 1024px) {
  .intro {
    max-width: 928px;
    padding-top: 92px;
  }
} 

@media screen and (min-width: 1280px) {
  .intro {
    min-width: 984px;
  }
} 
